@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');

.navbar {
  background-color: rgb(39, 41, 45);
  height: 3.7rem;
  width: 100%;
  box-shadow: #242425 1rem 0.4rem 0.8rem;
  position: relative;
   margin-bottom: 2rem;
  margin-left: -0.3rem;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 40px;
  color: white;
  margin-left: 2rem;
  margin-top: -0.3rem;
}

.other {
  color: rgb(205, 220, 68);
}

#input {
  position: relative;
  margin-top: 0.5rem;
  margin-left: 10rem;
  width: 25rem;
  border-radius: 7px;
  background-color: rgb(50, 50, 51);
  padding: 0.3rem;
  margin-top: 0.7rem;
  left: 95%;

}

.btn {
  position: relative;
  z-index: 3;
  background-color: rgb(205, 220, 68);
  color: whitesmoke;
  width: 3rem;
  height: 2rem;
  padding: 0.5rem;
  margin-top: -2rem;
  margin-left: -3rem;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  transition: all 0.5s ease-in-out;
  transform: translateY(1.1rem);
  left: 95%;
}

.imSearch {
  position: relative;
  z-index: 3;
  background-color: rgb(205, 220, 68);
  color: whitesmoke;
  width: 3rem;
  height: 2rem;
  padding: 0.5rem;
  margin-left: -4rem;
  margin-top: 0rem;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  transition: all 0.5s ease-in-out;
  transform: translateX(3.5rem) translateY(-0.5rem);
}

#info {
  color: rgb(205, 220, 68);
  font-size: 26px;
  letter-spacing: 0.05rem;
  font-family: 'Maven Pro', sans-serif;
  margin-top: 0.7rem;
  margin-left: 3rem;
}

.imSearch:hover {
  background-color: rgb(108, 133, 26);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

/* Media Queries for iPhone 6/7/8, iPhone X, and iPhone 6/7/8 Plus */
@media only screen and (max-width: 375px),
(max-width: 414px) {
  .header {
    font-size: 40px;
  }

  #input {
    margin-left: -5rem;
    width: 60%;
  }

  .btn {
    margin-left: -3.5rem;
  }

  .imSearch {
    margin-left: -4.5rem;
  }

  #info {
    font-size: 18px;
    margin-left: 1rem;
  }
}


@media only screen and (max-width: 360px),
(max-width: 412px) {
  .header {
    font-size: 40px;
   
  }

  #input {
    margin-left:-5rem;
    width: 60%;
  }

  .btn {
    margin-left: -3.5rem;
  }

  .imSearch {
    margin-left: -4.5rem;
  }

  #info {
    font-size: 18px;
    margin-left: 1rem;
  }
}

/* Media Queries for iPad and iPad Pro */
@media only screen and (max-width: 768px),
(max-width: 1024px) {
  .header {
    font-size: 40px;
    margin-left: 1rem;
    

  }

  .menu {
    width: 2rem;
    height: 1rem;
  }

  #input {
    margin-left: -3rem;
    width: 100%;
  }

  .btn {
    margin-left: -3.2rem;
  }

  .imSearch {
    margin-left: -4.2rem;
  }

  #info {
    font-size: 15px;
    margin-left: 2rem;
    
  }
}
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) {
    #input {
      position: relative;
      margin-top: 0.5rem;
      margin-left: 10rem;
      width: 15rem;
      border-radius: 7px;
      background-color: rgb(50, 50, 51);
      padding: 0.3rem;
      margin-top: 0.7rem;
      left: 40%;
    
    }
    .btn {
      position: relative;
      z-index: 3;
      background-color: rgb(205, 220, 68);
      color: whitesmoke;
      width: 3rem;
      height: 2rem;
      padding: 0.5rem;
      margin-top: -2rem;
      margin-left: -3rem;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      transition: all 0.5s ease-in-out;
      transform: translateY(1.1rem);
      left: 40%;
    }
   

}