.master{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.button{
    border: none 1px rgba(110, 122, 122, 0.85);
    border-radius: 14px;
    padding: 5px;
    margin-left: 1rem;
    margin-top: 1rem;
    background-color:rgba(100, 101, 101, 0.95) ;
}